<!-- 
Written by Veniture
-->

$webResourceManager.requireResource("com.veniture.resourceManagement:resourceManagement-resources")

<html>

<head>
    <title>All Tutorial Issues &mdash; Issue CRUD Tutorial</title>

    <!-- 	Bootstrap v2.3.2 -->
    <link rel="stylesheet" media="all"
        href="https://s3.amazonaws.com/dynatable-docs-assets/css/bootstrap-2.3.2.min.css" />
    <!-- Plugin styles -->
    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" />

    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
    </script>


    <!--  jQuery v3.0.0-beta1
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>-->

    <!-- JS Pluging -->
    <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>

    <meta name="decorator" content="atl.general">
    <script>
        AJS.$(document).ready(function () {
            var table = AJS.$('#example').DataTable();

            AJS.$('#example tbody').on('click', 'tr', function () {
                AJS.$(this).toggleClass('selected');
            });

            AJS.$('#button').on('click', function () {
                alert(table.rows('.selected').data().length + ' row(s) selected');
            });
        });
    </script>
</head>

<body class="page-type-admin">
    <div class="content-container">

        <div class="content-body">
            <div class="container">
                <button class="button" id="button">Do Something</button>
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach( $issue in $issues )
                        <tr>
                            <td>$issue.getKey()</td>
                            <td>$issue.getSummary()</td>
                        </tr>
                        #end
                    </tbody>
                    <tfoot>
                        <tr>
                           <th>Key</th>
                           <th>Summary</th>    
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>

</html>