<!--
Written by Veniture

TODO
İssue Link olsun
-->

$webResourceManager.requireResources("com.veniture.PortfolioManagement:PortfolioManagement-resources")

<!--
Created using JS Bin
http://jsbin.com

Copyright (c) 2019 by venITure

Released under the MIT license: http://jsbin.mit-license.org
-->
<html>

<head>


<!-- Latest compiled and minified CSS-->
    <!--
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/table-to-json@0.13.0/lib/jquery.tabletojson.min.js" integrity="sha256-AqDz23QC5g2yyhRaZcEGhMMZwQnp8fC6sCZpf+e7pnw=" crossorigin="anonymous"></script>

<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>-->
    <meta charset="utf-8">
    <title>Proje Önceliklendirme</title>

    <meta name="decorator" content="atl.general">
    <style id="css">
        body {
            margin: 10px;
        }

        #tableBody>tr {
            cursor: move;
            cursor: -webkit-grabbing;
        }
    </style>

    <script>
        AJS.$(document).ready(function () {
            // List with handle
            Sortable.create(tableBody, {
                handle: 'tr',
                animation: 150,
                onUpdate: function (evt) {
                    updatePriorities();
                }
            });

            updatePriorities();

           // AJS.tablessortable.setTableSortable(AJS.$("#auiTable"));

            function updatePriorities() {
                var i = 0;
                var len = AJS.$('#tableBody > tr').length;
                var tableBody = AJS.$('#tableBody > tr');
                var tableBodyLength = tableBody.length;
                tableBody.each(function () {
                    AJS.$(this).find(".companyPriority").text(i + 1);
                    i++;
                });
                console.log("Priorities are updated");
            }

            function updatePrioritiesInJIRA() {
                var table = AJS.$('#auiTable').tableToJSON({
                    ignoreEmptyRows : true
                }); // Convert the table into a javascript object
                alert(JSON.stringify(table));

                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/setPriorityCfValuesInJira",
                    type: 'GET',
                    data: {
                        jsontable: JSON.stringify(table)
                    },
                    async: true,
                    beforeSend: function () {
                    },
                    complete: function (response) {
                    },
                    success: function (response, status, jqXHR) {
                        console.log(JSON.stringify(table));
                        console.log("success");
                    }
                });
            }

            AJS.$('#kaydetButton').off().on("click", function (e) {
                updatePrioritiesInJIRA();
                console.log("JIRA'da Öncelikler update edildi.")
                e.preventDefault();
                Swal.fire(
                        'Önceliklendirme Tamamlandı!',
                        'success'
                )
            });
        });
    </script>
</head>
<body>
    <div class="aui-group">
        <div class="aui-help aui-help-empty-state">
            <div class="aui-help-content">
                <h1>Proje Önceliklendirme</h1>
                <p>Projeleri sürekle-bırak yöntemi ile istediğiniz sıraya taşıyınız. Önceliklendirme bittikten sonra kaydet tuşuna basınız.</p>
            </div>
        </div>
    </div>
    <div class="aui-group list-group" id="tableDiv">
        <table class="aui" id="auiTable">
            <thead>
            <tr>
                <th class="aui-table-column-issue-key">Issue key</th>
                <th data-override="Summary">Özet</th>
                <th class="aui-table-column-unsortable" data-override="Description">Açıklama</th>
                <th data-override="Department">Departman</th>
                <th data-override="GMYPriority">Grup/GMY Önceliği</th>
                <th data-override="DepartmentPriority">Departman Önceliği</th>
            <tr>
            </thead>
            <tbody id="tableBody">
                #foreach( $issue in $issues )
                <tr>
                    <td><a href="http://172.23.23.44:8080/browse/$issue.getKey()">$issue.getKey()</a></td>
                    <td>$issue.getSummary()</td>
                    <td>$issue.getDescription()</td>
                    <td>Departman</td>
                    <td>Grup/GMY Önceliği</td>
                    <td class="companyPriority">Departman Önceliği</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <div class="aui-group" id="buttons">
        <button class="aui-button aui-button-primary" id="kaydetButton">Kaydet</button>
    </div>

</body>
</html>