<!--
Written by Veniture

TODO
İssue Link olsun
-->
$webResourceManager.requireResources("com.veniture.PortfolioManagement:PortfolioManagement-resources")


<!--
Created using JS Bin
http://jsbin.com

Copyright (c) 2019 by venITure

Released under the MIT license: http://jsbin.mit-license.org
-->
<html>
<head>
<!-- Latest compiled and minified CSS-->
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/table-to-json@0.13.0/lib/jquery.tabletojson.min.js" integrity="sha256-AqDz23QC5g2yyhRaZcEGhMMZwQnp8fC6sCZpf+e7pnw=" crossorigin="anonymous"></script>
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>-->

    <meta charset="utf-8">
    <title>Proje Önceliklendirme</title>

    <meta name="decorator" content="atl.general">
    <style id="css">
        body {
            margin: 10px;
        }

        #tableBody>tr {
            cursor: move;
            cursor: -webkit-grabbing;
        }

        #search-area-example {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #search-area-example aui-spinner {
            margin: 1em;
        }

        .custom-card-style {
            border-radius: 3px;
            box-shadow:
                    0 1px 1px rgba(9, 30, 66, 0.25),
                    0 0 1px 0 rgba(9, 30, 66, 0.31);
            margin: 0 auto;
            padding: 10px;
            width: 20em;
        }

        td {
            min-width:15px;
            max-width:550px;
        }

        .swal2-popup {
            font-size: 1.2rem !important;
        }
    </style>

    <script>
        AJS.$(document).ready(function () {

            // List with handle
            Sortable.create(tableBody, {
                handle: 'tr',
                animation: 150,
                onUpdate: function (evt) {
                    updatePriorities("$restriction");
                }
            });

            updatePriorities("$restriction");
           // AJS.tablessortable.setTableSortable(AJS.$("#auiTable"));

            function updatePriorities(restriction) {
                var i = 0;
                var len = AJS.$('#tableBody > tr').length;
                var tableBody = AJS.$('#tableBody > tr');
                var tableBodyLength = tableBody.length;
                tableBody.each(function () {
                    if (restriction === "gmy") {
                        AJS.$(this).find(".gmyPriority").text(i + 1);
                    } else if (restriction === "dp") {
                        AJS.$(this).find(".birimOncelik").text(i + 1);
                    }else {
                        AJS.$(this).find(".birimOncelik").text(i + 1);
                        AJS.$(this).find(".gmyPriority").text(i + 1);
                    }
                    i++;
                });
                console.log("Priorities are updated");
            }

            function updatePrioritiesInJIRA() {
                var table = AJS.$('#auiTable').tableToJSON({
                    ignoreEmptyRows : true,
                    onlyColumns: [0,3,4]
                }); // Convert the table into a javascript object
                //alert(JSON.stringify(table));
                console.log(JSON.stringify(table));

                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/setPriorityCfValuesInJira",
                    type: 'POST',
                    data: {
                        jsontable: JSON.stringify(table)
                    },
                    async: true,
                    beforeSend: function () {
                    },
                    complete: function (response) {
                    },
                    error: function (response) {
                        console.log("setPriorityCfValuesInJira has finished with ERROR !!!");
                    },
                    success: function (response, status, jqXHR) {
                        console.log("setPriorityCfValuesInJira is successful");
                    }
                });
            }

            AJS.$('#kaydetButton').off().on("click", function (e) {
                updatePrioritiesInJIRA();
                console.log("JIRA'da Öncelikler update edildi.")
                e.preventDefault();

                Swal.fire({
                    position: 'center',
                    imageUrl: 'https://icon-library.net/images/successful-icon/successful-icon-9.jpg',
                    imageWidth: 200,
                    imageHeight: 200,
                    title: 'Önceliklendirme Tamamlandı!',
                    showConfirmButton: false,
                    timer: 1900
                })
            });

            AJS.$("#search-area-example").hide();
            AJS.$("#customFieldList-select2").on('select2-selecting', function (e) {
                AJS.$('#auiTable > thead  th[data-override*="'+e.val+'"]').show();
                var issueCFsectionInTable = AJS.$('#auiTable > tbody  tr td[class*="'+e.val+'"]');
                var issueKeyArray =[];
                issueCFsectionInTable.each(function () {
                    var issueKey=AJS.$(this).parent().children().first().children().first().prop( "innerHTML" );
                    issueKeyArray.push(issueKey);
                    AJS.$(this).show();

                });
                var cfValues=bulkGetCfValuesFromIssue(issueKeyArray.join(","),e.val);

                var array=cfValues.split(",,,");

                for(var i = 0; i < array.length; i++) {
                    issueCFsectionInTable[i].innerHTML=array[i];
                }
                //var issueKeys=AJS.$('#auiTable > tbody  tr .issueKey').prop( "innerHTML" ).join( "|" );
            });

            AJS.$("#customFieldList-select2").on("select2-removing", function(e) {
                AJS.$('#auiTable > thead  th[data-override*="'+e.val+'"]').hide();
                AJS.$('#auiTable > tbody  tr td[class*="'+e.val+'"]').hide();
            });

            function bulkGetCfValuesFromIssue(issueKeys, customfieldId){
                var value="-";
                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/bulkGetCfValueFromIssue",
                    type: 'POST',
                    data: {
                        issueKey: issueKeys,
                        customFieldId: customfieldId
                    },
                    async: false,
                    beforeSend: function () {
                        AJS.$("#search-area-example").show();
                    },
                    error : function (response) {
                        value= "-";
                        AJS.$("#search-area-example").hide();
                    },
                    success: function (response, status, jqXHR) {
                        console.log("getCfValueFromIssue complete");
                        AJS.$("#search-area-example").hide();
                        value= response;
                    }
                });
                return value;
            }
            AJS.$("#customFieldList-select2").auiSelect2();
        });
    </script>
</head>
<body>
    <div class="aui-group">
        <div class="aui-help aui-help-empty-state">
            <div class="aui-help-content">
                <h1>Proje Önceliklendirme</h1>
                <h1>!!! TEST içindir,kullanmayınız !!!</h1>
                <h1>!!! TEST içindir,kullanmayınız !!!</h1>
                <h1>!!! TEST içindir,kullanmayınız !!!</h1>
##                <p>Projeleri sürekle-bırak yöntemi ile istediğiniz sıraya taşıyınız. Önceliklendirme bittikten sonra kaydet tuşuna basınız.</p>
            </div>
        </div>
    </div>


    <div class="aui-group">
        <div class="aui-item" id="#select2-customFields">
            <form class="aui">
                <select id="customFieldList-select2" data-placeholder="Select Fields" multiple style="width: 40%">
                    <option></option>
                    #foreach($cf in $customFieldsInProject)
                        <option value="$cf.getId()">$cf.getFieldName()</option>
                    #end
                </select>
            </form>
        </div>
    </div>

    <div class="aui-group">
        <div id="search-area-example" class="custom-card-style">
            <p>Loading results...</p>
            <aui-spinner size="large"></aui-spinner>
        </div>
    </div>
    <div class="aui-group" id="buttons">
        <button class="aui-button aui-button-primary" id="kaydetButton">Kaydet</button>
##      <button class="aui-button aui-button-primary" id="hide">hide</button>
##      <button class="aui-button aui-button-primary" id="show">show</button>
    </div>

    <div class="aui-group list-group" id="tableDiv">
        <table class="aui" id="auiTable">
            <thead>
            <tr>
                <th class="aui-table-column-issue-key" data-override="key">Issue key</th>
                <th data-override="Summary">Özet</th>
                <th class="aui-table-column-unsortable" data-override="Description">Açıklama</th>
                <th data-override="GM">Grup/GMY Önceliği</th>
                <th data-override="DP">Birim Önceliği</th>
                #foreach($cf in $customFieldsInProject)
                    <th style="display:none;" data-override="$cf.getId()">$cf.getName()</th>
                #end
            <tr>
            </thead>
            <tbody id="tableBody">
                #foreach( $issue in $issues )
                <tr>
                    <td><a href="$baseUrl/browse/$issue.getKey()" class="issueKey">$issue.getKey()</a></td>
                    <td>$issue.getSummary()</td>
                    <td>$issue.getDescription()</td>
                    <td class="gmyPriority">$issue.getCustomFieldValue($gmyOncelikCF)</td>
                    <td class="birimOncelik">$issue.getCustomFieldValue($departmanOncelikCF)</td>
                    #foreach($cf in $customFieldsInProject)
                        <td style="display:none;" class="$cf.getId()">-</td>
                    #end
                </tr>
                #end
            </tbody>
        </table>
    </div>
</body>
</html>