<!-- 
Written by Veniture

TODO
İssue Link olsun
-->

$webResourceManager.requireResource("com.veniture.PortfolioManagement:PortfolioManagement-resources")

<html>

<head>
    <title>Flo Demo</title>

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <link href="https://nightly.datatables.net/select/css/select.dataTables.css?_=9a6592f8d74f8f520ff7b22342fa1183.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/select/js/dataTables.select.js?_=9a6592f8d74f8f520ff7b22342fa1183"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <style id="css">
        .th {
            text-align: left;
        }

        .td {
            max-width: 199px; word-wrap: break-word;
        }
    </style>

    <meta name="decorator" content="atl.general">
    <script>
        AJS.$(document).ready(function() {

            var table;
            displayFooter = function () {
                table = AJS.$('#projectsTable').DataTable();

                // Total over all pages
                var intVal = function (i) {
                    return typeof i === 'undefined' ? 0 : i * 1;
                };

                /*      var totalize_filtered = function (col) {
                          var data = table.column(col, {
                              search: 'applied'
                          }).data();
                          if (typeof data != 'undefined') {
                              return data
                                      .reduce(function (a, b) {
                                                  return intVal(a) + intVal(b);
                                              },
                                              0);
                          } else {
                              return 0;
                          }
                      };*/

                var totalize_selected = function (col) {
                    var data = table.cells('.selected', col).data();
                    if (typeof data != 'undefined') {
                        return data
                                .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        },
                                        0);
                    } else {
                        return 0;
                    }
                };
                var apply_footer = function (kapasite, col) {
                    AJS.$(table.column(col).footer()).html(
                            ' ' + (kapasite - totalize_selected(col))
                    );
                };

             apply_footer(123, 3);
             apply_footer(123, 2);

            };

            table = AJS.$('#projectsTable').DataTable({
                select: true,
                footerCallback: function (row, data, start, end, display) {
                    displayFooter();
                }
            });

            table.on( 'select', function ( e, dt, type, indexes ) {
                if ( type === 'row' ) {
                    //var data = table.rows( indexes ).data().pluck( 'id' );
                    displayFooter();
                }
            } );

            table.on('select.dt deselect.dt', function () {
                // displayFooter();
                // AJS.$('#projectsTable').dataTable().fnClearTable();
            });

            AJS.$("#select2").select2();

            AJS.$("#customFieldList-select2").auiSelect2();
            AJS.$("#customFieldList-select2").on('select2-selecting', function (e) {

                //Header'ı göster
                AJS.$('#projectsTable > thead  th[data-override*="'+e.val+'"]').show();

                //custom Field td'leri çeker bu
                var issueCFsectionInTable = AJS.$('#projectsTable > tbody  tr td[class*="'+e.val+'"]');

                var issueKeys =[];
                issueCFsectionInTable.each(function () {

                    //td'ın parent'ı tr'a gidio sonra tr'ın ilk sütunu yani issue key sütünunu çekio
                    var issueKey=AJS.$(this).parent().children().first().children().first().prop( "innerHTML" );
                    issueKeys.push(issueKey);
                    AJS.$(this).show();
                });

                console.log("asd");
                var cfValues=bulkGetCfValuesFromIssue(issueKeys.join(","),e.val);
                //Burada kritik nokta cfValues length ile Table'daki row sayısı mutlaka aynı olmalı !!!
                var array=cfValues.split(",,,");
                for(var i = 0; i < array.length; i++) {
                    issueCFsectionInTable[i].innerHTML=array[i];
                }
            });
            AJS.$("#customFieldList-select2").on("select2-removing", function(e) {
                AJS.$('#projectsTable > thead  th[data-override*="'+e.val+'"]').hide();
                AJS.$('#projectsTable > tbody  tr td[class*="'+e.val+'"]').hide();
            });

            function bulkGetCfValuesFromIssue(issueKeys, customfieldId){
                var value="-";
                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/bulkGetCfValueFromIssue",
                    type: 'POST',
                    data: {
                        issueKey: issueKeys,
                        customFieldId: customfieldId
                    },
                    async: false,
                    beforeSend: function () {
                    },
                    error : function (response) {
                        value= "-";
                    },
                    success: function (response, status, jqXHR) {
                        console.log("getCfValueFromIssue complete");
                        value= response;
                    }
                });
                return value;
            }


            /*            AJS.$("#customFieldList-select2").select2({
                            maximumSelectionLength: 6
                        });*/

            /*
                        AJS.$("#customFieldList-select2").on('select2:select', function (e) {
                                AJS.$('#projectsTable>tbody').find('tr').each(function(){
                                    var trow = AJS.$(this);
                                    var issueKey=trow.context.cells[0].innerText;

                                    jQuery.ajax({
                                        url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/getCfValueFromIssue",
                                        type: 'GET',
                                        data: {
                                            issueKey: trow.context.cells[0].innerText,
                                            customFieldId: "customfield_10814"
                                        },
                                        async: false,
                                        beforeSend: function () {
                                        },
                                        complete: function (response) {
                                        },
                                        success: function (response, status, jqXHR) {
                                            trow.find('td').eq(1).after('<td> asd '+response.toString()+'</td>');
                                            console.log(response.toString());
                                        }
                                    });
                                });
                        });
            */

            AJS.$('#select2').live('change', function () {
                window.location.replace("https://jira.veniture.tk/plugins/servlet/projectapprove?action=" + this.value);

                //  AJS.$('#select2').val(this.value); // Change the value or make some change to the internal state
                //  AJS.$('#select2').trigger('change.select2'); // Notify only Select2 of changes
            });

            AJS.$('#ApproveButton').off().on("click", function () {

                // var URL = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');

                var selectedCellsArray = table.cells('.selected', 0).data().toArray();

                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/transitionissues",
                    type: 'GET',
                    data: {
                        issues: selectedCellsArray,
                        action: "approve"
                    },
                    async: true,
                    beforeSend: function () {
                    },
                    complete: function (response) {
                    },
                    success: function (response, status, jqXHR) {

                        Swal.fire(
                                'Approved!',
                                'All selected projects approved!',
                                'success'
                        )
                    }
                });
            })

            AJS.$('#DeclineButton').off().on("click", function () {

                // var URL = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');

                var selectedCellsArray = table.cells('.selected', 0).data().toArray();

                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/rest/1.1/florestservice/transitionissues",
                    type: 'GET',
                    data: {
                        issues: selectedCellsArray,
                        action: "decline"
                    },
                    async: true,
                    beforeSend: function () {
                    },
                    complete: function (response) {
                    },
                    success: function (response, status, jqXHR) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Declined',
                            text: 'All selected projects declined!'})
                    }
                });
            })
        });
    </script>
</head>

<body id="jira>
    <div class=" content-container">
<div class="content-body">
    <div class="aui-group">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                                    <span class="aui-avatar aui-avatar-large aui-avatar-project">
                                        <span class="aui-avatar-inner">
                                            <img alt="FLO project" src="https://www.flo.com.tr/pub/assets/flo/img/logo.svg">
                                        </span>
                                    </span>
                </div>
                <div class="aui-page-header-main">
                    <h1>Project Approval</h1>
##                    <h1>!!! TEST içindir,kullanmayınız !!!</h1>
                </div>
            </div>
        </header>
    </div>
    <div class="aui-group">
        <div class="aui-item" id="jqlFilter">
            <form class="aui">
                <select id="select2" data-placeholder="Select a filter" style="width: 60%">
                    <option></option>
                    <option value="PLANLAMA">PLANLAMA</option>
                    <option value="SATISARTTIRAN">SATISARTTIRAN</option>
                    <option value="WFA">WFA</option>
                </select>
            </form>
        </div>
    </div>

##                <div class="aui-group">
##                    <div class="aui-item" id="customFieldList">
##                        <form class="aui">
##                            <select id="customFieldList-select2" data-placeholder="Select Fields" multiple style="width: 40%">
##                                <option></option>
##                                #foreach($cf in $projectCFs)
##                                    <option value="$cf.getId()">$cf.getFieldName()</option>
##                                #end
##                            </select>
##                        </form>
##                    </div>
##                </div>

    <div class="aui-group">
        <div class="aui-item" id="#select2-customFields">
            <form class="aui">
                <select id="customFieldList-select2" data-placeholder="Alan eklemek için tıklayın." multiple style="width: 40%">
                    <option></option>
                    #foreach($cf in $customFieldsInProject)
                        <option value="$cf.getId()">$cf.getFieldName()</option>
                    #end
                </select>
            </form>
        </div>
    </div>

    <div class="aui-group">
        <div class="aui-item" id="issueTableDiv">
            <table id="projectsTable" class="display nowrap" width="100%">
                <thead>
                <tr>
                    <th style="text-align: left;">Key</th>
                    <th style="text-align: left;">Summary</th>
                    <th style="text-align: left;">123</th>
                    <th style="text-align: left;">123</th>
                    #foreach($cf in $customFieldsInProject)
                        <th style="display:none;" data-override="$cf.getId()">$cf.getName()</th>
                    #end
                </tr>

                </thead>
                <tfoot>
                <tr>
                    <th></th>
                    <th>Total</th>
                    <th style="text-align: left;">123</th>
                    <th style="text-align: left;">123</th>
                    #foreach($cf in $customFieldsInProject)
                        <th style="display:none;" data-override="$cf.getId()">$cf.getName()</th>
                    #end
                </tr>
                </tfoot>

                <tbody>
                    #foreach( $IssueWithCF in $issuesWithCF )
                    <tr>
                        #set ($issue=$IssueWithCF.getIssue())
                        <td><a href="$baseUrl/browse/$issue.getKey()">$issue.getKey()</a></td>
                        <td>$issue.getSummary()</td>
                        <td style="text-align: left;">123</td>
                        <td style="text-align: left;">123</td>
                        #foreach($cf in $customFieldsInProject)
                            <td style="display:none;" class="$cf.getId()">-</td>
                        #end

                    ##                        #foreach( $cfWithValue in $IssueWithCF.getCustomFieldListWithValues())
##                            #set ($cfValue=$cfWithValue.getValue())
##                            <td style="max-width: 199px; word-wrap: break-word;">$cfValue</td>
##                        #end
                    </tr>
                    #end
                </tbody>
            </table>
            <button class="aui-button aui-button-primary" id="ApproveButton">Approve Selected Issues</button>
            <button class="aui-button" id="DeclineButton">Decline Selected Issues</button>
        </div>
    </div>
</div>
</div>
</body>
</html>